body {
    margin: 0;
    text-align: center;
    font-family: 'Gideon Roman', cursive;
    background: rgba(243, 235, 207, 0.4);
}

h1 {
    font-size: 600%;
    color: #e1273d;
}

h2 {
    font-size: 200%;
    color: #e1273d;
}

h3 {
    font-size: 150%
}

.div-title {
    background-color: rgba(254, 216, 143, 0.8);
    padding: 5px 20px;
    border-radius: 2px;
}

p {
    font-size: 150%;
}

#hero {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/panoram.webp");
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero > * {
    background-color: rgba(254, 216, 143, 0.8);
    padding: 5px 20px;
    border-radius: 2px;
    margin: 10px 0;
}

#middle {
    margin-top: 40px;
}

#activities {
    display: flex;
    justify-content: space-evenly;
}

.activity {
    margin: 20px 0;
    width: 300px;
}

.activity-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 6px rgba(254, 216, 143, 0.8);
}

#guide {
    display: flex;
    width: 600px;
    border: solid 1px black;
    margin: 30px auto;
    padding: 15px;
    background-color: rgba(254, 216, 143, 0.8);
    border-bottom: 6px solid #e1273d;
    justify-content: space-evenly;
}


#guide-img-avatar {
    width: 45%;
    margin: 0 10px;
}

#guide-name {
    font-weight: bold;
    margin: 0 10px;
    padding: 10px;
}


